.categoriesSection {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px; 
}

.card {
  text-align: center;
  
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
}

.cardTitle {
  margin-top: 16px;
  height: 26px;
  font-size: 20px;
  text-align: center;
}


/* --- до 1200px --- */
@media (max-width: 1200px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .title {
    font-size: 52px;
  }
}

/* --- до 992px --- */
@media (max-width: 992px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .title {
    font-size: 40px;
    text-align: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }
}

/* --- до 768px --- */
@media (max-width: 768px) {
  .categoriesSection {
    padding: 24px;
  }

  .cardsContainer {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .title {
    font-size: 32px;
  }
}

/* --- до 480px --- */
@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .categoriesSection {
    padding: 16px;
  }

  .cardTitle {
    font-size: 16px;
  }
}
