.container {
  width: 100%;
  max-width: 700px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
   text-align: center;
}

/* Бокс с цифрами "404" */
.codeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.digit {
  font-weight: 700;
  font-size: 245px;
  line-height: 1;
}

.image {
  width: 300px;
  height:auto;
  object-fit: contain;
  padding-bottom: 16px;
}

/* Бокс с текстом */
.textBox {
  margin-top: 32px;
  width: 100%;
 
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 32px;
}

/* Кнопка Go Home */
.homeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.homeButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(13, 80, 255, 0.4);
}

@media (max-width: 1024px) {
  .digit {
    font-size: 180px;
  }

  .image {
    width: 220px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
  }
}

/* ======= 768px (ПЛАНШЕТ) ======= */
@media (max-width: 768px) {

  .digit {
    font-size: 140px;
  }

  .image {
    width: 180px;
    padding-bottom: 12px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .homeButton {
    font-size: 18px;
    padding: 10px 24px;
  }
}

/* ======= 430px (iPhone 14 Pro Max и мобильные) ======= */
@media (max-width: 430px) {

  .codeBox {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  .digit {
    font-size: 100px;
  }

  .image {
    width: 140px;
    padding-bottom: 8px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 14px;
  }

  .homeButton {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
}
