.container {
  width: 100%;
  max-width: 700px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
   text-align: center;
    padding: 80px 20px;
}

/* Бокс с цифрами "404" */
.codeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.digit {
  font-weight: 700;
 font-size: clamp(100px, 20vw, 240px);
  line-height: 1;
}

.image {
   width: clamp(140px, 25vw, 280px);
  object-fit: contain;
  padding-bottom: 16px;
}

/* Бокс с текстом */
.textBox {
  margin-top: 32px;
 
}

.title {
   font-size: clamp(22px, 3vw, 36px);
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.4;
  margin-bottom: 32px;
}

/* Кнопка Go Home */
.homeButton {
 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
   font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  transition: all 0.3s ease;
}

.homeButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(13, 80, 255, 0.4);
}

