.cartLayout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 400px; /* список + форма 400px */
  gap: 32px;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
/* Скролл для товаров на десктопе */
.cart-layout > div:first-child {
  max-height: calc(3 * 180px + 2 * 16px); /* 3 карточки + gap */
  overflow-y: auto;
  padding-right: 8px;
  scrollbar-width: thin; /* Firefox */
}

/* Скролл для Chrome, Safari, Edge */
.cart-layout > div:first-child::-webkit-scrollbar {
  width: 6px;
}
.cart-layout > div:first-child::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}


@media (max-width: 1200px) {
 .cartLayout {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  }

@media (max-width: 1024px) {
   .cartLayout {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 768px) {
   .cartLayout {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 16px;
  }
  
}
@media (max-width: 468px) {
  .cart-layout {
    padding: 0 8px;
  }
}

