.card {
  position: relative; /* чтобы бейдж позиционировался */
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  background: white;
}

.image {
  width: 100%;
  object-fit: contain;
}

.prices {
  display: flex;
  gap: 8px;
  align-items: center;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
}

.newPrice {
  color: red;
  font-weight: 700;
}

.price {
  font-weight: 600;
}

