.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-sizing: border-box;

}

/* Обертка для левой и правой колонок */
.productWrapper {
  width: 1360px;
  display: flex;
  padding: 40px;
  gap: 32px;
  /* гап между левым и правым блоком */
  margin-top: 40px;
}

/* Левая колонка: картинки и основной продукт */
.leftImageColumn {
  display: flex;
  gap: 16px;
  /* гап между маленькими картинками и основной */
  width: 548px;
  display: flex;
  flex-direction: row;

}

.leftColumn {
  width: 200px;
  /* ширина левой колонки */
  display: flex;
  flex-direction: column;
}

/* Контейнер для 3-х маленьких картинок */


/* Маленькие картинки товаров из категории */
.leftImage {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* Основное изображение продукта */
.mainImageWrapper {
  margin-top: 32px;
  width: 548px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  max-width: 100%;
  max-height: 572px;
  object-fit: contain;
  border-radius: 8px;
}

/* Правая колонка: информация о продукте */

.rightColumnDescription {
  margin-left: 32px;
  /* отступ слева от основной картинки */
}

.rightColumn {
  width: 548px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Заголовок продукта */
.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

/* Цена и скидка */
.priceBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.price {
  font-size: 24px;
  font-weight: 700;
}

.discountPrice {
  font-size: 20px;
  color: red;
  text-decoration: line-through;
}

/* Описание продукта */
.description {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Блок добавления в корзину и счетчик */
.buyBox {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

/* Счетчик количества товара */
.counter {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px 8px;
}

.counter button {
  width: 58px;
  height: 58px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  border-radius: 4px;
}

.counter span {
  min-width: 98px;
  text-align: center;
  font-size: 16px;
}

/* Кнопка Add to Cart */
.addBtn {
  position: relative;
  width: 316px;
  border: none;
  transition: all 0.3s ease;
}


/* Детали продукта */
.detailsBox {
  margin-top: 32px;
  width: 100%;
  height: 306px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: auto;
}

.detailsBox h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.detailsBox p {
  font-size: 16px;
  color: #555;
}