.content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 32px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background: transparent;
   
}



