.categoriesSection {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; 
}

.card {
  text-align: center;
  
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
}

.cardTitle {
  margin-top: 16px;
  height: 26px;
  font-size: 20px;
  text-align: center;
}